<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"><title>Chef Dashboard - Order History</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  </head>

  <body>
    <div class="top-row">
      <div class="tab"><a href="C1.Orders.html"><h2>Orders</h2></a></div>
      <div class="selectedTab"><h2>Order History</h2></div>
      <div class="tab"><a href="C3.ClockInHistory.html"><h2>Clock-In History</h2></a></div>
    </div>
  </body>

</html>
