<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Manager Dashboard - Table View</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="styles/M0.Style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  </head>

  <body>
    <div class="top-row">

      <div class="selectedTab">
        <h3>Table View</h3>
      </div>

      <div class="tab">
        <a href="M2.Orders.html">
          <h3>Orders</h3>
        </a>
      </div>

      <div class="tab">
        <a href="M3.OrderHistory.html">
          <h3>Order History</h3>
        </a>
      </div>

      <div class="tab">
        <a href="M4.Inventory.html">
          <h3>Inventory</h3>
        </a>
      </div>

      <div class="tab">
        <a href="M5.Analytics.html">
          <h3>Analytics</h3>
        </a>
      </div>

      <div class="tab">
        <a href="M6.EmployeeRegi.html">
          <h3>Employee Regi.</h3>
        </a>
      </div>

      <div class="tab">
        <a href="M7.ClockInHistory.html">
          <h3>Clock-In History</h3>
        </a>
      </div>

    </div>
  </body>

</html>