<!DOCTYPE html>
<html lang="en">
  
  <head>

    <meta charset="UTF-8">
    <title>Waiter Dashboard - Menu - Beverages</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/W0.Style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

  </head>

  <body>

    <div class="top-row">
        <div class="tab"><a href="W4.Menu.Appetizers.html"><h2>Appetizers</h2></a></div>
        <div class="tab"><a href="W5.Menu.Salads.html"><h2>Salads</h2></a></div>
        <div class="tab"><a href="W6.Menu.Entrees.html"><h2>Entrees</h2></a></div>
        <div class="tab"><a href="W7.Menu.Sides.html"><h2>Sides</h2></a></div>
        <div class="tab"><a href="W8.Menu.Sandwiches.html"><h2>Sandwiches</h2></a></div>
        <div class="tab"><a href="W9.Menu.Burgers.html"><h2>Burgers</h2></a></div>
        <div class="selectedTab"><h2>Beverages</h2></div>
        <div class="tab wide-tab"><h2>Table Order</h2></div>
    </div>
    
  </body>

</html>