<!DOCTYPE html>
<html lang="en">
  
  <head>

    <meta charset="UTF-8">
    <title>Waiter Dashboard - Menu - Beverages</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/W0.Style.css">
    <link rel="stylesheet" href="../styles/W0.Style.Menu.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

  </head>

  <body>

    <div class="top-row">
        <div class="tab"><a href="W4.Menu.Appetizers.html"><h2>Appetizers</h2></a></div>
        <div class="tab"><a href="W5.Menu.Salads.html"><h2>Salads</h2></a></div>
        <div class="tab"><a href="W6.Menu.Entrees.html"><h2>Entrees</h2></a></div>
        <div class="tab"><a href="W7.Menu.Sides.html"><h2>Sides</h2></a></div>
        <div class="tab"><a href="W8.Menu.Sandwiches.html"><h2>Sandwiches</h2></a></div>
        <div class="tab"><a href="W9.Menu.Burgers.html"><h2>Burgers</h2></a></div>
        <div class="selectedTab"><h2>Beverages</h2></div>
        <div class="tab"><a href="W11.Menu.TableOrder.html"><h2>TableOrder</h2></a></div>
    </div>

    <div class = "backButton" onclick="openModal()">
        ←
    </div>
  
    <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Would you like to exit the menu?</h4>
          </div>
        
          <div class="modal-buttons">
            <button class="back-button" onclick="closeModal()">Back</button>
            <button class="confirm-button" onclick="confirmClockOut()">✓</button>
          </div>
        </div>
    </div>
        
    <div class="input-row-left">
      <div class="input-group half">
        <div class="input-rectangle"><h5>Sweet</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group half">
        <div class="input-rectangle"><h5>Unsweetened Tea</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group half">
        <div class="input-rectangle"><h5>Coke</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group half">
        <div class="input-rectangle"><h5>Diet Coke</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group half">
        <div class="input-rectangle"><h5>Sprite</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group half">
        <div class="input-rectangle"><h5>Bottled Water</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group half">
        <div class="input-rectangle"><h5>Lemonade</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group half">
        <div class="input-rectangle"><h5>Orange Juice</h5></div>
        <button class="input-btn btn-add">✓</button>
      </div>

    </div>

    <script>
  
        function openModal() {
          document.getElementById("myModal").style.display = "block";
        }
  
        function closeModal() {
          document.getElementById("myModal").style.display = "none";
        }
  
        function confirmClockOut() {
          window.location.href = "W1.TableView.html";
        }
        
    </script>
    
  </body>

</html>