<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Waiter Dashboard - Orders</title>
    <link rel="stylesheet" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    </head>

    <body>

        <div class="top-row">

            <div class="tab">
                <a href="W1.TableView.html">
                    <h2>Table View</h2>
                </a>
            </div>

            <div class="selectedTab">
                <h2>Orders</h2>
            </div>

            <div class="tab">
                <a href="W3.ClockInHistory.html">
                    <h2>Clock In History</h2>
                </a>
            </div>

        </div>

    </body>

</html>