<!DOCTYPE html>
<html lang="en">
  
  <head>

    <meta charset="UTF-8">
    <title>Waiter Dashboard - Menu - Entrees</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/W0.Style.css">
    <link rel="stylesheet" href="../styles/W0.Style.Menu.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

  </head>

  <body>

    <div class="top-row">
        <div class="tab"><a href="W4.Menu.Appetizers.html"><h2>Appetizers</h2></a></div>
        <div class="tab"><a href="W5.Menu.Salads.html"><h2>Salads</h2></a></div>
        <div class="selectedTab"><h2>Entrees</h2></div>
        <div class="tab"><a href="W7.Menu.Sides.html"><h2>Sides</h2></a></div>
        <div class="tab"><a href="W8.Menu.Sandwiches.html"><h2>Sandwiches</h2></a></div>
        <div class="tab"><a href="W9.Menu.Burgers.html"><h2>Burgers</h2></a></div>
        <div class="tab"><a href="W10.Menu.Beverages.html"><h2>Beverages</h2></a></div>
        <div class="tab wide-tab"><h2>Table Order</h2></div>
    </div>

    <div class = "backButton" onclick="openModal()">
        ←
    </div>
  
    <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Would you like to exit the menu?</h4>
          </div>
        
          <div class="modal-buttons">
            <button class="back-button" onclick="closeModal()">Back</button>
            <button class="confirm-button" onclick="confirmClockOut()">✓</button>
          </div>
        </div>
    </div>
     
    <div class="input-stack">
      
      <div class="input-group">
        <div class="input-rectangle"><h5>Shrimp & Grits - $13.50<p>Sautéed shrimp with garlic served on top of cheese grits, topped with sautéed peppers & onions.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group">
        <div class="input-rectangle"><h5>Sweet Tea Fried Chicken - $11.50<p>Fried chicken breast marinated in sweet tea & spices, topped with a sweet tea reduction.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Caribbean Chicken - $11.50<p>Grilled chicken marinated in spicy Caribbean seasoning topped with mango salsa & avocado.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group">
        <div class="input-rectangle"><h5>Grilled Pork Chops - $11.00<p>Two bone-in grilled pork chops.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>New York Strip Steak - $17.00<p>New York Strip Steak cut in-house. Cooked to your desired temperature.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group">
        <div class="input-rectangle"><h5>Seared Tuna - $15.00<p>Seared ahi tuna cooked to your desired temperature, topped with mango salsa & a honey lime vinaigrette drizzle.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Captain Crunch Chicken Tenders - $11.50<p>Fried chicken tenders coated in Captain Crunch with a dipping sauce.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>
    
      <div class="input-group">
        <div class="input-rectangle"><h5>Shock Top Grouper Fingers - $11.50<p>Shock Top beer-battered grouper served with tartar sauce & a lemon extra.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Mac & Cheese Bar - $8.50<p>Cast iron skillet of mac & cheese with choice of regular cheese or spicy cheese & choice of two toppings.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>
      
    </div>

    <script>
  
        function openModal() {
          document.getElementById("myModal").style.display = "block";
        }
  
        function closeModal() {
          document.getElementById("myModal").style.display = "none";
        }
  
        function confirmClockOut() {
          window.location.href = "W1.TableView.html";
        }
        
    </script>
      
  </body>

</html>