<!DOCTYPE html>
<html lang="en">
  
  <head>

    <meta charset="UTF-8">
    <title>Waiter Dashboard - Menu - Burgers</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/W0.Style.css">
    <link rel="stylesheet" href="../styles/W0.Style.Menu.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

  </head>

  <body>

    <div class="top-row">
        <div class="tab"><a href="W4.Menu.Appetizers.html"><h2>Appetizers</h2></a></div>
        <div class="tab"><a href="W5.Menu.Salads.html"><h2>Salads</h2></a></div>
        <div class="tab"><a href="W6.Menu.Entrees.html"><h2>Entrees</h2></a></div>
        <div class="tab"><a href="W7.Menu.Sides.html"><h2>Sides</h2></a></div>
        <div class="tab"><a href="W8.Menu.Sandwiches.html"><h2>Sandwiches</h2></a></div>
        <div class="selectedTab"><h2>Burgers</h2></div>
        <div class="tab"><a href="W10.Menu.Beverages.html"><h2>Beverages</h2></a></div>
        <div class="tab wide-tab"><h2>Table Order</h2></div>
    </div>
    
    <div class = "backButton" onclick="openModal()">
        ←
    </div>
  
    <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Would you like to exit the menu?</h4>
          </div>
        
          <div class="modal-buttons">
            <button class="back-button" onclick="closeModal()">Back</button>
            <button class="confirm-button" onclick="confirmClockOut()">✓</button>
          </div>
        </div>
    </div>
      
    <div class="input-stack">
      
      <div class="input-group">
        <div class="input-rectangle"><h5>Bacon Cheeseburger - $11.00<p>8-ounce burger topped with bacon & your choice of cheddar, American, Swiss, provolone, pepper jack, blue cheese, or pimento cheese on a brioche bun.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Carolina Burger - $11.00<p>8-ounce burger topped with chili, diced onions & slaw on a brioche bun.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Portobello Burger (V) - $8.50<p>Marinated Portobello mushroom cap topped with mango salsa, lettuce, tomato & onion on a telera bun.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

      <div class="input-group">
        <div class="input-rectangle"><h5>Vegan Boca Burger (V) - $10.50<p>Vegan Boca Burger topped with lettuce, tomato & onion on a telera bun.</p></h5></div>
        <button class="input-btn btn-modify">Modify</button>
        <button class="input-btn btn-add">✓</button>
      </div>

    </div>

    <script>
  
        function openModal() {
          document.getElementById("myModal").style.display = "block";
        }
  
        function closeModal() {
          document.getElementById("myModal").style.display = "none";
        }
  
        function confirmClockOut() {
          window.location.href = "W1.TableView.html";
        }
        
    </script>

  </body>

</html>