body {
    font-family: 'Oswald';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee6deff;
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    background: #eee6deff;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;    
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

input, button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: white;
    color: #6b3e37;
    border: 1px solid #595959;
    border-radius: 5px;
}

#error {
    color: red;
    text-align: center;
    margin-top: -0.5rem;
}