/* Style for tabs */
.tab a {
  flex: inherit;
  height: inherit;
  background-color: inherit;
  border: 1px solid inherit;
  display: inline;
  padding: 0;
  margin: 0;
}

/*  */
h2 a {
  font-family: inherit;
  text-align: inherit;
  align-items: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  display: inline;
  padding: 0;
  margin: 0;
}


  
/* Inventory "Order" button settings */
button.order-btn {
  font-family: 'Oswald';
  font-size: 20px;
  background-color: #412527ff;
  color: #ffefc2;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
button.order-btn:hover {
  background-color: rgb(31, 17, 18);
}



.container {
  display: flex;
  justify-content: center;
  margin-top: 5.5%; /* pushes it lower from top */
}  



/* Analytics Drop Down Bars */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  padding: 40px;
  background-color: #eee6deff;
}
.accordion-container {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 0 auto;
}
.accordion {
  font-family: 'Oswald';
  font-size: 25px;
  color: #6b3e37;
  font-style: italic;
  background-color: #ffefc2ff;
  text-align: left;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  width: 100%;   
  padding: 25px 30px;
  margin-top: 10px;
}
.accordion:not(.month).active {
  background-color: #ffefc2ff; /* ← replace with your desired color */
}
.accordion.month {
  font-size: 20px;
  font-style: none;
  background-color: white;
  padding: 20px 50px;
  margin-top: 0;
  border-top: 1px solid #ccc;
}
.accordion.month.active {
  background-color: white;
}
.accordion.active, .accordion:hover {
  background-color: rgb(216, 202, 165);
}
.panel {
  font-style: none;
  padding: 0;
  background-color: #517366ff;
  display: none;
  overflow: hidden;
  width: 100%;
}
.panel a {
  font-family: 'Oswald';
  font-size: 18px;
  font-style: none;
  font-weight: bold;
  color: #ffefc2;
  text-decoration: none;
  display: block;
  padding: 10px 70px;
  border-bottom: 1px solid #ddd;
}
.panel a:last-child {
  border-bottom: none;
}
.panel a:hover {
  background-color: rgb(59, 83, 74);
}