/* Screen Backgrounds */
body {
    background: #eee6deff;
}

/* Used for titles */
h1 {
    font-family: 'Oswald';
    text-align: center;
    color: #517366;
    font-size: 70px;
    text-decoration: underline;
}

/* Used for Tab Names */
h2 {
    font-family: 'Oswald';
    text-align: center;
    align-items: center;
    color: #412527;
    font-size: 30px;
    text-decoration: underline;
    font-weight: 575;
}

/* Used for Column Names (Inventory and Clock-In History)*/
h3 {
    font-family: 'Oswald';
    color:#000000;
    text-decoration: underline;
}

/* Used for pop-up notifications */
h4 {
    font-family: 'Oswald';
    text-align: center;
    align-items: center;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}



/* ".root", ".top-row", ".selectedTab", and ".tab" are needed for the top row of tab buttons */
:root {
    --box-height: 100px;
}
.top-row {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f0f0f0;
    height: var(--box-height);
}
.selectedTab {
    flex: 1;
    height: 100%;
    background-color: #eee6deff;
}
.tab {
    flex: 1;
    height: 100%;
    background-color: #e4cc89ff;
    border: 1px solid #595959;
}


/* Used for verification pop-ups */
.modal-body {
    padding: 20px;
    text-align: center;
}
  
.modal-buttons {
    display: flex;
    width: 100%;
    height: 50px;
}
  
.modal-buttons button {
    flex: 1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
}
  
.back-button {
    background-color: rgb(255, 77, 77);
    border-right: 1px solid #aaa;
}
  
.back-button:hover {
    background-color: rgb(255, 43, 43);
}
  
.confirm-button {
    background-color: #4CAF50;
    color: white;
}
  
.confirm-button:hover {
    background-color: #45a049;
}