/* Needed for pop-ups */
.modal {
    display:none ;
    position: fixed; 
    
    bottom: 150;
    width: 100%;
    height: 100%;
    
    /* SAVE FOR LATER WHEN NEEDED IN ORDERS */
    /*background-color: rgba(0, 0, 0, 0.5);*/ /*Black background with opacity */
}

/* The modal content box */
.modal-content {
    font-family: 'Oswald';
    background-color: #999999ff;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;

    overflow: hidden; /* ensures buttons stay flush */
    display: flex;
    flex-direction: column;
}
  
.modal-body {
    padding: 20px;
    text-align: center;
}
  
.modal-buttons {
    display: flex;
    width: 100%;
    height: 50px;
}
  
.modal-buttons button {
    flex: 1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
}
  
.back-button {
    background-color: rgb(255, 77, 77);
    border-right: 1px solid #aaa;
}
  
.back-button:hover {
    background-color: rgb(255, 43, 43);
}
  
.confirm-button {
    background-color: #4CAF50;
    color: white;
}
  
.confirm-button:hover {
    background-color: #45a049;
}

.logoutButton {
    font-family: 'Oswald';
    font-size: 52px;
    background-color: #999999ff;
    text-align: center;

    width: 300px;
    height: 150px;
    
    
    position: absolute;
    bottom: 150px;
    right: 50px;
    border: 2px solid #595959;
    padding: 10px;
}